.hero {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  color: white;
  background: linear-gradient(135deg, #3a1c71, #d76d77, #ffaf7b); /* Vibrant gradient */
}

.hero-content {
  text-align: center;
  animation: fadeIn 2s ease-in;
}

.button-group {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  gap: 15px; /* Space between buttons */
}

.cta-button {
  background-color: #ff7e5f;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 25px;
  font-size: 1.2rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.cta-button:hover {
  background-color: #feb47b;
}

.signin-button {
  background-color: transparent;
  border: 2px solid #ff7e5f;
  color: white;
  padding: 10px 20px;
  border-radius: 25px;
  font-size: 1.2rem;
  cursor: pointer;
  transition: background-color 0.3s ease, border-color 0.3s ease;
}

.signin-button:hover {
  background-color: #ff7e5f;
  border-color: #feb47b;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
